body{
    background-color: rgb(156, 177, 246);
}

*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 50px;
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    width: 50%;
    margin: auto;
}

.para{
    
    margin-left: 40%;
}
